<ion-view view-title="Yemek Tarifleri" >
  <ion-content>
	  	<div class="list card">

	  <div class="item item-image" style="padding:2px" ng-click="git('pilav',2)">
	    <img src="img/anaekran/resim1.jpg">
	  </div>
	   <div class="item item-image" style="padding:2px" ng-click="git('kurabiye',3)">
	    <img src="img/anaekran/resim2.jpg">
	  </div>
	   <div class="item item-image" style="padding:2px" ng-click="git('dolma',3)">
	    <img src="img/anaekran/resim3.jpeg">
	  </div>
	     <div class="item item-image" style="padding:2px" ng-click="git('corba',3)">
	    <img src="img/anaekran/resim4.jpg">
	  </div>
	  
	  
</div>
  </ion-content>
</ion-view>
